---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Contact — Adam Fenwick"
  description="Contact Adam Fenwick, a frontend developer based in the UK."  
>
  <main id="main-content">
    <div>
      <h1 class="text-5xl mb-10">Contact</h1>
      <p>You can <a href="mailto:hello@afenwick.com">email me</a> at <b>hello@afenwick.com</b> or <a href="https://www.twitter.com/AdamFenwickFE">contact me on Twitter</a>, my DMs are always open.</p>
    </div>
  </main>
</Layout>

