---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Contact — Adam Fenwick"
  description="Contact Adam Fenwick, a frontend developer based in the UK."  
>
  <main id="main-content" class="main">
    <div>
      <h1 class="text-5xl mb-10">Contact</h1>
      <p>If you want to get in touch then <a href="https://www.linkedin.com/in/adam-fenwick-2b878212a">message me on LinkedIn</a>.</p>
    </div>
  </main>
</Layout>

