---
import Layout from '../layouts/Layout.astro';

import { formatDate } from '../../utils/formatDate';
import { getBlogs } from '../../sanity/api';

interface BlogPost {
  title: string;
  slug: {
    current: string;
  };
  body: string;
  publishedAt: string;
}

const blogs: BlogPost[] = await getBlogs();
---

<Layout title="Articles on web accessibility and frontend development. — Adam Fenwick">
  <main>
    <div class="bg-white border-solid rounded-md border-black p-5">
      <h1 class="text-5xl mb-10">Latest posts</h1>
      {
        blogs.map((blog) => (
          <article class="border-b-2 border-gray-400 pb-5 mb-5">
            <h2 class="text-4xl">
              <a class="link text-blue-800" href={`/blogs/${blog.slug.current}`}>{blog.title}</a>
            </h2>
            <time datetime={formatDate(blog.publishedAt)}>{blog.publishedAt}</time>
          </article>
        ))
      }
    </div>
  </main>
</Layout>
