---
import Layout from '../layouts/Layout.astro';

import { getBlogs } from '../../sanity/api';

interface BlogPost {
  title: string;
  slug: {
    current: string;
  };
  body: string;
  publishedAt: string;
}

const blogs: BlogPost[] = await getBlogs();
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="bg-white border-solid rounded-md border-black p-5">
      <h1 class="text-5xl">Latest posts</h1>
      {
        blogs.map((blog) => (
          <article class="">
            <h2>
              <a href={`/blogs/${blog.slug.current}`}>{blog.title}</a>
            </h2>
            <time datetime={blog.publishedAt}>{blog.publishedAt}</time>
          </article>
        ))
      }
    </div>
  </main>
</Layout>
