
---
import { getPortfolio } from '../../sanity/api';
import Layout from '../layouts/Layout.astro';

interface Project {
  title: string;
  slug: {
    current: string;
  };
  body: string;
  publishedAt: string;
}

const projects: Project[] = await getPortfolio();
---

<style>
  .blog-list {
    padding-left: 0;

    li {
      list-style: none;
    }

    .blog-preview-title {
      margin-bottom: 0;
    }

    .blog-preview-date {
      display: block;
      margin-bottom: 1rem;
    }
  }
</style>

<Layout 
  title="Contact — Adam Fenwick"
  description="Contact Adam Fenwick, a frontend developer based in the UK."  
>
  <main id="main-content">
    <div>
      <h1 class="text-5xl mb-10">Portfolio</h1>
        <ul class="blog-list">
          {
            projects.map((project) => (
              <li id={project.slug.current}>
                <h2 class="blog-preview-title">
                  <a class="link" href={`/portfolio/${project.slug.current}`} data-cy="blogUrls">{project.title}</a>
                </h2>
              </li >
            ))
          }
        </ul>
    </div>
  </main>
</Layout>

