.blogPost {
  background: #FFF;
  padding: 1em;
}

.blogPost h1 {
  margin: var(--spacing-0);
}

.blogPost ul {
  margin: var(--spacing-0);
}

time {
  display: block;
  margin-bottom: var(--spacing-4);
}
