
---
---
<style>
  .footer-list {
    padding-left: 0;

    li {
      list-style: none;
    }
  }
</style>

<footer class="mt-10 mb-10">
  <h2>My links</h2>
  <ul class="footer-list">
    <li><a href="https://www.linkedin.com/in/adam-fenwick-2b878212a">LinkedIn</a></li>
    <li><a href="https://www.github.com/fenwick17">Github</a></li>
  </ul>
</footer>
