
---
---

<footer class="mt-10 mb-10">
  <p class="md:text-2xl mb-5">
    <a href="/" class="header-link">Adam Fenwick</a>
  </p>
  <ul>
    <li><a href="https://twitter.com/AdamFenwickFE">Twitter</a></li>
    <li><a href="https://www.github.com/fenwick17">Github</a></li>
  </ul>
</footer>
