---
---

<header class="text-white mt-10 mb-10">
  <nav class="flex justify-between">
    <span class="text-5xl">Adam Fenwick</span>
    <ul class="flex justify-between items-center">
      <li class="mr-5"><a class="link" href="/">Home</a></li>
      <li><a class="link" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
