---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header class="text-white mt-10 mb-10 md:flex justify-between items-center">
  <span class="md:text-5xl">
    <a href="/" class="header-link">Adam Fenwick</a>
  </span>
  <nav>
    <ul class="md:flex justify-between">
      <li class="mr-5">
        <a 
        aria-current={currentPath === "" ? "page" : ""}
        class={currentPath === "" ? "font-bold" : ""} href="/">Home</a>
      </li>
      <li>
        <a 
        aria-current={currentPath === "contact" ? "page" : ""}
        class={currentPath === "contact" ? "font-bold" : ""} href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
