---
import type { Project } from '@types';
import Pagination from "./Pagination.astro";
import urlFor from '../../utils/urlFor';
import getImageUrl from '../../utils/getImageUrl';

interface Props {
  work: Project[]; 
}

const { work } = Astro.props;
---

<style>
  .work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Dynamic columns */
    gap: 20px; /* Space between items */
    padding: 0;
    margin: 0;
    list-style: none;

    .work-preview-title {
      margin-bottom: 0;
    }

    .work-list-heading {
      margin-bottom: 1rem;
    }
  }

  .work-list-item {
    flex: 1 1 50%;
  }

  .work-list-item--image source, img {
    border-radius: 10px;
    display: block;
    height: auto;
    width: 100%;
  }
</style>

<ul class="work-list">
  {
    work.map((work) => (
      <li class="work-list-item">
        <picture class="work-list-item--image">
          <source srcset={getImageUrl(work.mainImage, "webp")} type="image/webp" />
          <source srcset={getImageUrl(work.mainImage, "avif")} type="image/avif" />
          <img src={getImageUrl(work.mainImage, "jpg")} alt={work.mainImage.alt} />
        </picture>
        <h2 class="work-list-heading">
          <a class="link" href={`/work/${work.slug.current}`}>{work.title}</a>
        </h2>
      </li>
    ))
  }
</ul>