---
import { PortableText } from 'astro-portabletext';

import Layout from '../../layouts/Layout.astro';
import { getBlogs, getBlogPost } from '../../../sanity/api';
import Code from '../../components/PortableText/Code.astro';
import type { BlogPost } from '@types';

const components = {
  type: {
    code: Code,
  },
};

export async function getStaticPaths() {
  const allBlogs: BlogPost[] = await getBlogs();
  return allBlogs.map((blog: BlogPost) => ({
    params: { slug: blog.slug.current },
    props: { blog },
  }));
}

const {
  blog: { title, body },
} = Astro.props;
---

<Layout title={title}>
  <main>
    <div class="bg-white border-solid rounded-md border-black p-5">
      <h1>{title}</h1>
      <PortableText value={body} components={components} />
    </div>
  </main>
</Layout>
