.mainNav ul li {
  display: inline-block;
  margin: 0.5em;
}

.mainNav ul li:first-child {
  margin-left: 0;
}

.mainNav ul li a:first-child {
  margin-left: 0;
}

.mainNav ul li a {
  margin-left: 0.5em;
}

@media(min-width: 768px) {
  .mainNav ul li:last-child {
    margin-right: 0;
  }
}
