/* Code styling */
code[class*='language-'],
pre[class*='language-'] {
  -moz-tab-size: 4;
  -ms-hyphens: none;
  -o-tab-size: 4;
  -webkit-hyphens: none;
  background: none;
  color: #000;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  text-shadow: none;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  word-break: normal;
  word-spacing: normal;
  word-wrap: break-word;
}

/* Code blocks */
pre[class*='language-'] {
  border: 2px solid black;
  margin: 0.5em 0;
  overflow: auto;
  padding: 1em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f5f2f0;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  padding: 0.1em;
  white-space: normal;
}

code {
  color: var(--colour-language-dark-blue);
}

.dark code {
  color: var(--colour-language-light-green);
}

.language-html .token.tag {
  color: var(--colour-language-dark-blue);
}

.language-html .token.attr-name {
  color: var(--colour-language-green);
}

.language-html .token.attr-value {
  color: var(--colour-language-red);
}

.language-css .token.selector {
  color: var(--colour-language-green);
}

.language-css .token.property {
  color: var(--colour-language-red);
}

.language-css .token.rule {
  color: var(--colour-language-dark-blue);
}

.language-css .token.atrule {
  color: var(--colour-language-green);
}

.language-css .token.function {
  color: var(--colour-language-blue);
}

.dark code[class*='language-'],
.dark pre[class*='language-'] {
  border-color: white;
  color: #fff;
  background-color: var(--colour-background);
}

.dark .language-html .token.tag {
  color: var(--colour-language-yellow);
}

.dark .language-css .token.rule {
  color: var(--colour-language-yellow);
}

.dark .language-css .token.function {
  color: var(--colour-language-yellow);
}

.dark .language-css .token.property,
.dark .language-html .token.attr-name {
  color: var(--colour-language-pink);
}

.dark .language-html .token.attr-value,
.dark .language-css .token.selector,
.dark .language-css .token.atrule {
  color: var(--colour-language-light-green);
}
