@import './codeStyling.css';
@import url('@fontsource/inter');

:root {
  --colour-language-green: #00703c;
  --colour-language-light-green: #bbf7d0;
  --colour-language-red: #d13118;
  --colour-language-blue: #0d47a1;
  --colour-language-dark-blue: #002171;
  --colour-language-yellow: #fef08a;
  --colour-language-pink: #fecaca;
  --colour-background: #121212;
  --colour-grey: #333333;
  --colour-focus: #fd0;
  --colour-link: #000000;
  --colour-link-visited: #4c2c92;
}

html {
  font-size: 19px;
  font-family: 'Inter', Arial;
  line-height: 1.4;
}

.main {
  margin-bottom: 5rem;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: 768px) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  /* TODO: Add class */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
  user-select: none;
}

/* typography */
h1 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 2.25rem;
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 0;
  font-weight: 700;

  @media (min-width: 768px) {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 10;
  font-weight: 700;
  font-size: 1.25rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    margin-bottom: 20px;
  }
}

a {
  text-decoration: underline;

  &:focus {
    background-color: var(--colour-focus);
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    outline: 3px solid transparent;
    color: black;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

ul li {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  p {
    max-width: 70ch;
  }
}

.header-link {
  text-decoration: none;
}

.skip-link {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

/* Light Mode */
body {
  color: #000;

  a {
    color: var(--colour-link);

    &:visited {
      color: var(--colour-link);
    }
  }
}

body {
  background-color: #f1f5f9;
}

/* Dark Mode */
.dark {
  body {
    background-color: var(--colour-background);
    color: #fff;

    a {
      color: inherit;

      &:visited {
        color: inherit;
      }

      &:focus {
        color: #000;
      }
    }
  }
}
